---
export interface Props {
  id: string;
  title: string;
}

const { title, id } = Astro.props;
---

<section
  id={id}
  class="flex flex-col items-center gap-4 pt-60 md:pt-[220px] max-w-5xl"
>
  <div class="flex flex-col items-start gap-4">
    <slot name="eyebrow"/>
    
  </div>
  <p class="max-w-xl text-center font-extrabold text-2xl">
    <slot name="lead" />
  </p>
  <slot />
</section>
