---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="👋 Hola!, Soy Bianca Dueñas " id="intro">
  <Fragment slot="eyebrow">
    <h2 class="text-5xl ">👋 Hi!, I'm
      <br class="md:hidden">
      <a href="#" class="pt-[1px] px-[5px] pb-[5px] bg-primary hover:bg-transparent"><span class="text-stroke font-display font-semibold hover:text-transparent ">Bianca Dueñas</span></a> 
      <br class="sm:hidden">
    </h2>
       
      <p class="text-3xl font-medium font-p"><span class="text-white bg-secondary">UX/UI Designer</span> to resolve, develope and create new experiences to users.</p>
  </Fragment>
</ContentSection>
<style>
  .text-stroke:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-fill-color: transparent;
  text-stroke-width: 1px;
  text-stroke-color: black;
}
</style>